@model Web.TimeTracker.Models.BaseTimesheetModel
@{
    ViewBag.Title = "Time Tracker";
}

<main class="main" role="main">
    <div class="timesheet">
        <div class="timesheet-header" id="timesheetheader">

            <div class="control-group">
                <label class="control-label">Year</label>
                <select class="form-control" data-bind="value: SelectedYear, event: { change: onSelectedYearChanged }">
                    @foreach (var year in Model.YearList)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
            </div>
            <div class="control-group">
                <label class="control-label">Week</label>
                <select class="form-control" data-bind="value: SelectedWeek, event: { change: onSelectedWeekChanged }">
                    @foreach (var week in Model.WeekList)
                    {
                        <option value="@week.WeekNumber">@week.WeekNumber</option>
                    }
                </select>
            </div>
            <div class="control-group">
                <button class="btn btn-default" data-bind="click: PreviousWeek"><i class="glyphicon glyphicon-step-backward"></i></button>
                <button class="btn btn-default" data-bind="click: NextWeek"><i class="glyphicon glyphicon-step-forward"></i></button>
            </div>
            <div class="control-group copy-control-group">
                <select class="form-control" data-bind="value: SelectedCopyWeek">
                    @foreach (var week in Model.WeekList)
                    {
                        <option value="@week.WeekNumber">@week.WeekNumber</option>
                    }
                </select>
                <button class="btn btn-default pull-left indent" data-bind="click: timeSheetModel.Copy"><i class="glyphicon glyphicon-share-alt"></i> Copy Week</button>
            </div>
            <div class="control-group pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-bind="click: timeSheetModel.Add"><i class="glyphicon glyphicon-plus"></i> Add</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">INA-12493 Quickservice</a></li>
                        <li><a href="#">INA-15822 Mobile Landing Pages</a></li>
                        <li><a href="#">INA-12584 Home Online Responsive</a></li>
                        <li><a href="#">DOC-12493 Auto Online Responsive</a></li>
                        <li class="divider"></li>
                        <li><a href="#">PTO</a></li>
                        <li><a href="#">Sick</a></li>
                        <li><a href="#">Project Other</a></li>
                    </ul>
                </div>
                <button class="btn btn-primary" data-bind="click: timeSheetModel.onSave"><i class="glyphicon glyphicon-save"></i> Save</button>
            </div>
        </div>
        <div class="timesheet-content">

            <table class="table timesheet-table">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Domain</th>
                        <th>Project</th>
                        <th>Phase</th>
                        <th>&nbsp;</th>
                        <th class="day-header">Mon</th>
                        <th class="day-header">Tue</th>
                        <th class="day-header">Wed</th>
                        <th class="day-header">Thu</th>
                        <th class="day-header">Fri</th>
                        <th class="day-header">Sat</th>
                        <th class="day-header">Sun</th>
                        <th class="day-header">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="select">
                            <select class="form-control" data-bind="value: ActivityID, options: $root.Activities, optionsText: 'Description', optionsValue: 'ID'"></select>
                        </td>
                        <td class="select">
                            <select class="form-control" data-bind="value: DomainID, visibility: DomainOption() != 0">
                            @foreach (var domain in Model.Domains.OrderBy(x => x.Description))
                            {
                                <option value="@domain.ID">@domain.Description</option>
                            }
                            </select>
                        </td>
                        <td class="select">
                            <select class="form-control" data-bind="value: ProjectNumber, visibility: ProjectOption() != 0, valueAllowUnset: true, optionsCaption: 'test'">
                            @foreach (var project in Model.Projects.OrderBy(x => x.ID))
                            {
                                <option value="@project.ID">@string.Format("{0} - {1}", project.ID, project.Description)</option>
                            }
                            </select>
                        </td>
                        <td class="select">
                            <select class="form-control" data-bind="value: Phase, visibility: PhaseOption() != 0">
                            @*@foreach (var phase in Model.Phases.Where(x => x.Active).OrderBy(x => x.Order))*@
                            @foreach (var phase in Model.Phases.OrderBy(x => x.Order))
                            {
                                <option value="@phase.ID">@phase.Phase</option>
                            }
                            </select>
                        </td>
                        <td class="entry-actions">
                            <button class="btn btn-default" data-bind="click: ShowComment"><i class="glyphicon glyphicon-comment"></i></button>
                            <button class="btn btn-default" data-bind="click: $root.Remove"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>

                        <td class="day-control"><input type="text" class="form-control" data-bind="value: Monday"/> </td>
                        <td class="day-control"><input type="text" class="form-control" data-bind="value: Tuesday"/> </td>
                        <td class="day-control"><input type="text" class="form-control" data-bind="value: Wednesday"/> </td>
                        <td class="day-control"><input type="text" class="form-control" data-bind="value: Thursday"/> </td>
                        <td class="day-control"><input type="text" class="form-control" data-bind="value: Friday"/> </td>
                        <td class="day-control"><input type="text" class="form-control" data-bind="value: Saturday"/> </td>
                        <td class="day-control"><input type="text" class="form-control" data-bind="value: Sunday"/> </td>
                        <td class="day-control"><input type="text" class="form-control" data-bind="value: ActivityRowTotal" disabled readonly /></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>Totals:</td>
                        <td class="day-footer" data-bind="text: MondayTotal"></td>
                        <td class="day-footer" data-bind="text: TuesdayTotal"></td>
                        <td class="day-footer" data-bind="text: WednesdayTotal"></td>
                        <td class="day-footer" data-bind="text: ThursdayTotal"></td>
                        <td class="day-footer" data-bind="text: FridayTotal"></td>
                        <td class="day-footer" data-bind="text: SaturdayTotal"></td>
                        <td class="day-footer" data-bind="text: SundayTotal"></td>
                        <td class="day-footer" data-bind="text: Total"></td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</main>

@section Scripts {
    <script type="text/javascript">
        var timeSheetModel = new TimeSheetModel("@Authentication.Current.EmployeeInfo.DomainID");
        var headerModel = new HeaderModel(@Model.SelectedYear, @Model.SelectedWeek, @Model.CopyWeek);
        $(function () { // When screen is ready
            headerModel.Initialize();
            timeSheetModel.Intialize();

            $(".time").numeric();
        });

        //function toggleTimer() {
        //    $("#timer").toggle();
        //};
    </script>
}